body{
    margin:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.avatar{
    width: 150px;
}
.card{
    background: #ddebf8;
    border-bottom: 10px solid #d8cefe;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    padding:20px;
    display: flex;
    justify-content: space-between;
}
